<footer id="footer">
  <i class="icon-upper to-top"></i>
  <div id="footer-info" class="inner">
    <div>
      &copy; <%= date(new Date(), 'YYYY') %>
      <i class="icon-love footer-love"></i>
      <%= config.author || config.title %>
      <!-- 访问量 -->
      <% if (theme.site_pv){ %>
      <span class="gap">|</span>
      <span id="busuanzi_container_site_pv">
        <i class="icon-pv"> </i>
        <span id="busuanzi_value_site_pv"></span>
      </span>
      <% } %>
    </div>
    <div>
      <!-- <a href="http://beian.miit.gov.cn" target="_blank">粤ICP备19142024号</a> -->
      粤ICP备19142024号
      <span class="gap">|</span>
      由 <a href="http://hexo.io/" target="_blank">Hexo</a> 驱动
      <span class="gap">|</span>
      主题 -
      <a href="https://github.com/jianjunx/hexo-theme-xfun" target="_blank"
        >XFun</a
      >
    </div>
  </div>
</footer>
