<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <div id="toc" class="widget-wrap toc-box">
    <h3 class="widget-title">文章目录</h3>
  </div>
</aside>