.categorys
  padding 50px
  padding-top 30px

.categorys-title
  font-size: 18px
  color: color-grey
  margin-bottom 20px



.categorys-list
  ul,
  li
    list-style disc
  a
    margin 10px 0
    color: #333
    line-height 2
    text-decoration: none
    border-bottom 1px solid #000
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
// .10px .20px
.category-list-child
  margin-left 20px
  list-style circle

