.tags
  padding 50px
  text-align: center

.tags-title
  font-size: 18px
  color: color-grey
  margin-bottom 20px

.tags-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  a
    margin 20px
    color: #333
    line-height 1
    text-decoration: none
    border-bottom 1px solid #000
    display: inline-block;
    float: right;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
// .10px .20px