#footer
  color: color-grey
  text-align: center
  a
    color: color-default
    text-decoration: none
    border-bottom 1px solid color-default

#footer-info
  padding: 20px 0
  line-height: 1.6
  font-size: 0.85em

.footer-love
  color: red
  margin 0 2px
.gap
  margin 0 6px