.icon-published
  font-style: normal
  &:before 
    content: "\f133";
    font-family: FontAwesome;
    font-size: 12px;

.icon-folder
  font-style: normal
  &:before 
    content: "\f114";
    font-family: FontAwesome;
    font-size: 12px;

.icon-eye
  font-style: normal
  &:before 
    content: "\f06e";
    font-family: FontAwesome;
    font-size: 12px;

.icon-left-arrow
  font-style: normal
  &:before 
    content: "\f060";
    font-family: FontAwesome;
    font-size: 12px;

.icon-right-arrow
  font-style: normal
  &:before 
    content: "\f061";
    font-family: FontAwesome;
    font-size: 12px;

.icon-home
  font-style: normal
  &:before 
    content: "\f015";
    font-family: FontAwesome;
    font-size: 16px;

.icon-archives
  font-style: normal
  &:before 
    content: "\f187";
    font-family: FontAwesome;
    font-size: 14px;

.icon-tags
  font-style: normal
  &:before 
    content: "\f02c";
    font-family: FontAwesome;
    font-size: 12px;

.icon-category
  font-style: normal
  &:before 
    content: "\f00a";
    font-family: FontAwesome;
    font-size: 12px;
  
.icon-github
  font-style: normal
  &:before 
    content: "\f09b";
    font-family: FontAwesome;
    font-size: 14px;

.icon-exclamation
  font-style: normal
  &:before 
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 14px;

.icon-love
  font-style: normal
  &:before 
    content: "\f004";
    font-family: FontAwesome;
    font-size: 12px;

.icon-weibo
  font-style: normal
  &:before 
    content: "\f18a";
    font-family: FontAwesome;
    font-size: 12px;

.icon-juejin
  display: inline-block
  width: 12px
  height: 12px
  background-image: url(/css/images/juejin-black.png)
  background-size: cover
  transform: translateY(1px)
  
.icon-zhihu
  display: inline-block
  width: 13px
  height: 13px
  background-image: url(/css/images/zhihu-c.png)
  background-size: cover
  transform: translateY(1px)


@keyframes heartbeat {
    0% {
    transform:rotate(45deg) scale(0.8,0.8);
    opacity:1;
    }
    50% {
      transform:rotate(45deg) scale(1,1);
      opacity:0.8;
    }
    50% {
      transform:rotate(45deg) scale(0.8,0.8);
      opacity:0.8;
    }
    60% {
      transform:rotate(45deg) scale(1,1);
      opacity:0.8;
    }
    100% {
      transform:rotate(45deg) scale(0.8,0.8);
      opacity:1;
    }
}